$blue: #00FFFF;

body {
  background-color: $blue;
}
$black: #a175d;

h2 {
  color: $black;

  }
li{
  display: inline;
}
pan {
    display: block;
}
.simple {
  width: 500px;
  margin: 20px auto;
}

.fancy {
  width: 500px;
  margin: auto;
  padding: 50px;
  border-width: 10px;
}
div {
    resize: both;
    overflow: auto;
}
