img {
  border-radius:60%;
margin-right:auto;
}
body {
  display: inline;
  padding: 15px;
  align="center";
}

p.clear{
  clear:both;
  font-size: 18px;
   word-spacing: 5px;
     padding: 5px;
   word-spacing: 10px;
}
table, th, td {
    border: 4px solid pink;
    border-collapse: collapse;
    background-color:purple ;
  padding: 15px;
}
th, td {
    padding: 8px;
    text-align: left;
  font-color:#ABEBC6;
}
caption{
  font-size:40px;
}

}
div {
    border: px solid #DAF7A6;
    padding: 5px;
  display:inline;
  margin-left: 15px;
    padding: 5px;
  display:inline;

}

.img1 {
    float: right;
    margin-right:15px;
    padding-bottom: 30px;
}

.clearfix {
    overflow: auto;
    margin-right: 15px;


}

.img2 {
    float: left;
    margin-left: 15px;
    padding-bottom: 25px;
}

h1 ,h2 ,h3 ,h4 ,h5{
 font-size:30px;
 padding: 5px;
 margin:5px;
}
p {
    font-size:18px;
    text-align:auto ;
    word-spacing: 5px;
      padding: 5px;
      margin:15px
}

.myImage {
  float: center;
  height: 250px;
  width: 250px;
margin-left: 8.5px;
margin-right:15px;
  align="center";
}
.heading {
  float:left;
    align="center";
}
