img {
  border-radius:60%;
  align="center";
}
p.clear{
  clear:both;
  font-size: 18px;
}
table, th, td {
    border: 4px solid pink;
    border-collapse: collapse;
    background-color:purple ;
  padding: 5px;
}
th, td {
    padding: 8px;
    text-align: left;
  font-color:#ABEBC6;
}
caption{
  font-size:40px;
}

}
div {
    border: px solid #DAF7A6;
    padding: 5px;
  display:inline;
}

.img1 {
    float: right;
}

.clearfix {
    overflow: auto;
}

.img2 {
    float: left;
}
.Paris{
  float:left;
}
h1 ,h2 ,h3 ,h4 ,h5{
 font-size:30px;

}
p {
    font-size:19px;
    text-align:auto ;
}

.myImage {
  float: right;
  height: 335px;
  width: 335px;
  align="center";

}
.heading {
  float:left;
}
